<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1 class="helv">BeThere</h1>
  </div>
</div>

<div class="col-sm-4 col-sm-offset-4">
<%= render 'newform' %>

<%= link_to 'Back', events_path %>
</div>